<footer>
  <div class="footer">
    <div class="footer-links">
      <a href="https://github.com/antonioist" target="_blank"><i class="fab fa-github"></i></a>
      <a href="https://www.instagram.com/antoniosancheztrespalacios/" target="_blank"><i class="fab fa-instagram"></i></a>
      <a href="https://www.facebook.com/aitrespalacios" target="_blank"><i class="fab fa-facebook"></i></a>
      <a href="https://twitter.com/antonio04398356" target="_blank"><i class="fab fa-twitter"></i></a>
      <a href="https://www.linkedin.com/in/antonio-isidoro-s%C3%A1nchez-trespalacios-/" target="_blank"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footer-copyright">
      Made by Antonio
    </div>
  </div>
</footer>