<div class="navbar navbar-expand-sm navbar-light navbar-lewagon sticky-top">
  <%= link_to "#", class: "navbar-brand" do %>
    <i class="fas fa-home"></i>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <%= cl_image_tag "hFXHrnYR5w7hfDigKiVPen5q", class: "avatar" %>
</div>