.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  // margin-bottom: 16px;
  height: 100%;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner-info {
  position: relative;
  left: 80px;
  top: 64px;
  height: 50%;
}

.dropdown-menu {
  .button {
    padding: 3px 41px;
    font-size: 16px;
    margin-top: 8px;
  }
}

.dropdown {
  .button-dropdown {
    padding: 4px 16px;
    font-size: 16px;
  }

}
.dropdown-toggle {
  border-radius: 8px;
  background-color: $button;
}
